<%= form_with model: @user  do |f| %>
<div class="mb-2">
  <%= f.label :name %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="mb-2">
  <%= f.label :address %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="mb-2">
  <%= f.label :ContactNo %>
  <%= f.text_field :title, class: "form-control" %>
</div>

  <%= f.submit %>

  

<% end %>
