<table class="table table-striped">                         
  <tr>                          
    <th>Booking_id</th>
    <th>Status</th>
    <th>Book Item</th>
    <% if current_user.admin? %>
      <th> View Details</th>
    <% end %>
  </tr>
<% @booking_slots.each do |booking_slot| %>     
  <tr>
    
    <td><%= booking_slot.id %></td>
    <td><%= booking_slot.status %></td> 
    <td>
      <% if booking_slot.status == false%>
        <% if current_user.admin?%>
          <%= link_to "Book", new_book_slot_path, remote: true, class: 'btn btn-primary btn-lg'%>
        <%else%>
          <%= link_to "Book", book_slot_path(id: booking_slot.id, is_book_request: true), method: :put%>
        <% end %>
      <% end %>
    </td>
    <% if current_user.admin? %>
      <td>
        <% if booking_slot.status == true %>
          <%= link_to "Details", user_show_path(id: booking_slot.user_id, booking_slot_id: booking_slot.id)%>
        <% end %>  
      </td>
    <% end %>
  </tr>
<% end %>                        
</table> 

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'new' %>
</div>




